@font-face{
    font-family: norse;
    src: url(../Fonts/Norse-Bold.otf);
}

html,body{
    height: 100%;
    margin: 0px;
    border: 0px;
}

body{
    display: flex;
    flex-direction: row;
}

.background{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    background-image: url("../sign-up-form/signupformbackgroun.jpg");
    background-repeat: no-repeat;
    align-items: center;



}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norse;
    width: 100%;
    height: 8rem;
    color: white;
    font-size: 6rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    top: 200px;
    
}

.logo-footer{
    position: relative;
    top: 825px;
    color: white;
    font-size: 1rem;
}

.right-side-of-page{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
}

.right-top, .right-body, .right-bottom{
    padding-right: 100px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.right-top{
    font-size: 1.4rem;
    font-weight: bold;
    height: 35%;
    padding-right: 150px;
    padding-top: 200px;    
}

.right-top-lower-text{
    padding-top: 20px;
    padding-bottom: 40px;
}

.right-body{
    height: 30%;
}

.right-bottom{
    height: 35%;
}