html,body{
    height: 100%;
    margin: 0px;
    border: 0px;
}

.background{
    height: 100%;
    width: 35%;
    background-image: url("../sign-up-form/signupformbackgroun.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
}